body {
    margin: 0;
    padding: 0;
    width: 100vw;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
        "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    font-size: 18px;
}
#main-flex {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
}

#map-container,
#diagram-container {
    flex: 1 1 50%;
    width: 50vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

#map-container {
    margin-right: 20px;
}

#year-label {
    font-weight: bolder;
    margin-left: 10px;
    vertical-align: middle;
    margin-right: 50px;
}

#map,
#diagram {
    width: 45vw;
    height: 80vh;
}

.year-slider {
    width: 100%;
    max-width: 60vw;
    min-width: 200px;
    margin: 20px 0 0 0;
    vertical-align: middle;
}

.dropdown {
    width: 10vw;
    min-width: 120px;
    max-width: 180px;
    padding-right: 10px;
}

.dropdown-label {
    margin: 10px;
}

.controls {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 95%;
    box-sizing: border-box;
    margin: 10px auto;
    border-radius: 10px;
    border-style: dashed;
    gap: 1vw;
    flex-wrap: wrap;
}

.slider-container {
    display: flex;
    flex-direction: column;
    flex: 1 1 400px;
    min-width: 250px;
    max-width: 60vw;
}

.year-slider-labels {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0 0 10px 0;
    font-size: 0.9em;
    color: #222;
    pointer-events: none;
    user-select: none;
    padding-left: 0;
    padding-right: 0;
}

.year-slider-labels span {
    width: 100%;
    min-width: 2em;
    text-align: center;
    margin-top: 2px;
}

.play-button {
    width: 5vw;
    height: 5vh;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
